

<h1> Create your portofolio </h1>




<form method ="post" enctype ="multipart/form-data" action="/users/mywork"  >

<div class="form-group">
<label>Title</label>
    <input type="text" class="form-control" placeholder="Title of your project" name="Title">
  </div>
  <div class="form-group">
    <label>Description of this project </label>
    <input type="textarea" rows="5" cols="20" class="form-control" placeholder="description" name="description">
  </div>
   <div class="form-group">
    <label>links</label>
    <input type="text" class="form-control" placeholder="Link" name="link">
  </div>

<br> </br>
<br> </br>
<br> </br>

<h5> Upload your Screenshot </h5>
<input type="file" name="work" />
<br></br>
<br></br>

<input type ="submit" name ="submit" value="submit">
<br></br>

</form>

   
